{% extends ('base.html.twig') %}

{% block stylesheets %}
    <link href="{{ asset ('assets/css/vitrine/faq.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

    {% block main %}
    <main>
        <div class="parent-container container">
          page des mentions légales
        </div>
    </main>
    {% endblock %}


